POSTGRES_USER=root
POSTGRES_PASSWORD=root
POSTGRES_DB=test_db
POSTGRES_PORT=5433
PGADMIN_DEFAULT_EMAIL=admin@admin.com
PGADMIN_DEFAULT_PASSWORD=root
PGADMIN_PORT=8080
DATABASE_URL="postgresql://root:root@localhost:5433/test_db"

# DATABASE_URL="postgres://7276573627982d844c804df26fc687d8544f5149f0f1ac49fc6c11c9dfb90526:sk_sIHMi9ZBn8X5pu5rG_F3K@db.prisma.io:5432/postgres?sslmode=require"